@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700;800&display=swap');

:root{
    --principal: #9BE8FF;
    --principal-shadow: #6daec4;
    --bg: #F6F4D2;
    --bg-shadow: #dbdab8;
    --bg-trans: rgba(246, 244, 210, 0.90);
    --alert: #FF6963;
    --alert-shadow: #CC5450;
    --warning: #FFC259;
    --warning-shadow: #CC9B47;
    --ft-color: #282828;
}

body{
    background-color: var(--bg);
    padding: 0;
    margin: 0%;
    border: none;
    outline: 0;
    gap: 30px;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background: var(--bg);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--ft-color);
    border-radius: 3px;
}

aside{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 100vw;
    background-color: var(--bg-trans);
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    z-index: 1;
}

img{
    width: 100%;
}

a > img{
    width: 20px;
    margin-top: calc(50% + 5px);
}

figure > img{
    position: relative;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
}

figure > figcaption{
    visibility: hidden;
    text-align: center;
    position: relative;
    top: calc(-50%);
}

/* Fonts */

.super-title, .super-subtitle, .title, .paragraph, code, a, aside > p, .text-typing, #bar, .title-card, .subtitle-card, figcaption{
    font-family: 'Manrope', sans-serif;
    color: var(--ft-color);
}

.super-title, .title{
    letter-spacing: 1px;
    font-size: 4.2rem;
    font-weight: 800;
    letter-spacing: 4px;
    text-align: left;
}

.title{
    font-weight: 500;
}

.super-subtitle, .paragraph{
    font-size: 1.5rem;
    font-weight: 300;
}

.paragraph{
    font-size: 1.2rem;
}

.title-card{
    font-size: 1.2rem;
    font-weight: 700;
    height: 1rem;
}

.subtitle-card{
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
    word-break: break-word;
}

code{
    font-weight: 400;
    font-size: 1rem;
    background: whitesmoke;
    padding: 4px 8px;
    border-radius: 5px;
    height: auto;
    width: auto;
    line-height: 1.6rem;
}

figcaption{
    font-size: 2rem;
    font-weight: 500;
    color: var(--bg)
}

nav > a, li > a, aside > p{
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
}

nav > a, aside > a{
    margin-left: 30px;
    padding: 5px 10px 5px 10px;
}

nav > a:hover, li > a:hover, aside > a:hover{
    color: black;
    font-weight: 500;
}

nav > a:hover, aside > a:hover{
    background: #fcfbe5;
    border-radius: 30px;
    box-shadow: 0px 5px 1px var(--bg-shadow);
} 

.input-config{
    height: 30px;
    width: 280px;
    background: var(--bg);
    color: #4e4e4e;
    border-radius: 30px;
    border: 1px solid var(--ft-color);
    margin-left: 30px;
    padding: 5px 10px 5px 20px;
}

.input-config:focus{
    color: var(--ft-color);
    background-color: var(--bg-shadow);
}

.btn-submit, .btn-cancel{
    color: var(--bg);
    text-decoration: none;
    font-weight: 500;
    border: none;
    height: 30px;
    width: 200px;
    border-radius: 30px;
    margin-left: 30px;
    padding: 5px 10px 5px 10px;
}

.btn-cancel{
    background: var(--alert);
    box-shadow: 0px 5px 1px var(--alert-shadow);
}

.btn-submit{
    background: var(--principal-shadow);
    box-shadow: 0px 5px 1px #4a8194;
}

.btn-cancel:active{
    box-shadow: inset 0px 5px 1px var(--alert-shadow);
    transform: translate(-2px, 5px);
}

.btn-submit:active{
    box-shadow: inset 0px 5px 1px #4a8194;
    transform: translate(-2px, 5px);
}

.none{
    font-family: none;
}

.txt-center{
    text-align: center;
}

.txt-left{
    text-align: left;
}

/* cores */
.bg-principal{
    background: var(--principal);
}

.bg-warning{
    background: var(--warning);
}

.bg-alert{
    background: var(--alert);
}

.red{
    color: var(--alert);
}

/* Display */
.row, .column{
    display: flex;
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.left{
    align-items: flex-start;
}

.end-center{
    justify-content: flex-end;
    align-items: center;
}

.start-center{
    justify-content: flex-start;
    align-items: center;
}

.center-start{
    justify-content: center;
    align-items: flex-start;
}

.center-center{
    justify-content: center;
    align-items: center;
}

.linear-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Alinhamento */

.center{
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 50% 48%;
}

.content{
    display: grid;
    grid-template-columns: 40% 58%;
}

.space-around{
    justify-content: space-around;
}

/* Espaçamento */

.gap-50{
    gap: 50px;
}

.gap-20{
    gap: 20px;
}

.gap-10{
    gap: 10px;
}

.gap-5{
    gap: 5px;
}

.padding-3{
    padding: 3vw;
}

.padding-2{
    padding: 2vw;
}

.margin-50-30{
    margin: 50px 30px 0px 30px;
}

.margin-30{
    margin: 20px 30px 90px 30px;
}

/* Posicionamento */
.top-80{
    position: relative;
    top: -80%;
}

/* Desenhos */

.card{
    height: 28vh;
    width: 20vw;
    border-radius: 50px;

    position: relative;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
}

.illustration{
    width: 88%;
    height: 85%;
    padding: 20px;
    background-color: var(--principal);
    border-radius: 50px;
    box-shadow: 10px 10px 30px 5px var(--principal-shadow);
    box-shadow: 10px 10px 5px var(--principal-shadow);
}

/* Animações */
figure:hover > img{
    filter: brightness(0.05);  
}

figure:hover > figcaption{
    visibility: visible;
}

.text-typing, #bar{
    font-weight: 300;
    text-align: center;
    font-size: 4rem;
    position: relative;
    top: calc(-2rem);
}

div:target{
    scroll-margin-top: 100px;
    animation: illuminate 1s linear;
}

.content{
    animation: toright 0.6s ease-out forwards;
    animation-play-state: paused;
}

.shadow-principal:hover{
    animation: shadow-principal-frame 0.3s forwards ease-out;
}

.shadow-alert:hover{
    animation: shadow-alert-frame 0.3s forwards ease-out;
}

.shadow-warning:hover{
    animation: shadow-warning-frame 0.3s forwards ease-out;
}

.animation-type{
    animation: animate 1.5s infinite linear;
}

.anime::after{
    content: '';
    animation: anime-typing 3s infinite linear;
}

@keyframes illuminate {
    0%, 100%{
        background: none;
    }
    50%{
        background: var(--principal);
        background-color: white;
    }
}

@keyframes animate {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

@keyframes shadow-principal-frame{
    100%{
        transform: scale(1.01);
        box-shadow: 10px 10px 4px var(--principal-shadow);
    }
}

@keyframes shadow-alert-frame{
    100%{
        transform: scale(1.01);
        box-shadow: 10px 10px 4px var(--alert-shadow);
    }
}

@keyframes shadow-warning-frame{
    100%{
        transform: scale(1.01);
        box-shadow: 10px 10px 4px var(--warning-shadow);
    }
}

@keyframes toright{
    0%{
        transform: translateX(-400px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes anime-typing{
    5%{
        content: '<';
    }
    10%{
        content: '<p';
    }
    15%{
        content: '<p>';
    }
    20%{
        content: '<p> ';
    }
    25%{
        content: '<p> T';
    }
    30%{
        content: '<p> Te';
    }
    35%{
        content: '<p> Tex';
    }
    40%{
        content: '<p> Text';
    }
    45%{
        content: '<p> Texto';
    }
    50%{
        content: '<p> Texto ';
    }
    55%{
        content: '<p> Texto <';
    }
    60%{
        content: '<p> Texto </';
    }   
    65%{
        content: '<p> Texto </p';
    }
    70%{
        content: '<p> Texto </p>';
    }    
}