:root{
    --principal: #9BE8FF;
    --principal-shadow: #6daec4;
    --bg: #F6F4D2;
    --bg-trans: rgba(246, 244, 210, 0.90);
    --alert: #FF6963;
    --alert-shadow: #CC5450;
    --warning: #FFC259;
    --warning-shadow: #CC9B47;
    --ft-color: #282828;
}

.input-search:focus /*, select:focus */ { 
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.icon-search{
    position: absolute;
    left: 15px;
    top: -20px;
    height: 30px;
    width: 30px;
}

.search{
    position: relative;
    top: 0px;
    left: 30%;
    height: 80px;
    width: 80px;
    border-radius: 80px;
    background-color: var(--warning);
}

.search > a{
    position: absolute;
    left: 5px;
    top: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.search > input{
    position: relative;
    left: 10px;
    top: 10px;
    
    height: 60px;
    width: 0px;
    border-radius: 20px;
    border: none;
    
    visibility: hidden;
    
    color: whitesmoke;
    background-color: var(--warning);
}

.search:hover{
    animation: translation-negative 1s forwards;
}

.search:hover > a{
    animation: translation 1s forwards;
}

.search:hover > input{
    animation: open 1s forwards;
}

@keyframes open{
    from{
        visibility: hidden;
    }
    to{
        visibility: visible;
        width: 400px;
    }
}

@keyframes translation{
    from{
        background-color: var(--warning-shadow);
    }
    to{
        background-color: var(--warning-shadow);
        transform: translateX(420px);
    }
}

@keyframes translation-negative {
    to{
        transform: translateX(-150px);
        width: 500px;
    }   
}